
#icontact-ui-contacts-filter-form dl.multiselect dd.a,
#icontact-ui-contacts-filter-form dl.multiselect dd.a .form-item {
  width: 12em;
}
#icontact-ui-contacts-filter-form dl.multiselect .form-item {
  height: 2.25em;
}
